## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
pwd

'/Users/johnmastronardo/Desktop/Data_Viz/World_Weather_Analysis/Vacation_Search'

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv('/Users/johnmastronardo/Desktop/Data_Viz/World_Weather_Analysis/weather_data/WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Airai,TL,-8.93,125.41,62.42,100,100,3.22,light rain
1,1,Dikson,RU,73.51,80.55,-27.26,84,47,7.20,scattered clouds
2,2,Punta Arenas,CL,-53.15,-70.92,53.60,62,75,28.86,broken clouds
3,3,Busselton,AU,-33.65,115.33,51.01,92,0,12.93,clear sky
4,4,Jiayuguan,CN,39.82,98.30,11.75,61,16,1.72,few clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Capinopolis,BR,-18.68,-49.57,81.73,59,92,1.81,light rain
15,15,Itarema,BR,-2.92,-39.92,79.97,74,2,16.46,clear sky
23,23,Celestun,MX,20.87,-90.40,78.30,75,11,8.59,few clouds
25,25,Hithadhoo,MV,-0.60,73.08,81.93,73,1,7.96,clear sky
27,27,Arraial Do Cabo,BR,-22.97,-42.03,80.60,83,0,14.99,clear sky
41,41,Bambous Virieux,MU,-20.34,57.76,77.00,88,40,3.36,scattered clouds
42,42,Caucaia,BR,-3.74,-38.65,82.40,74,40,10.29,scattered clouds
43,43,Hilo,US,19.73,-155.09,78.80,74,75,4.70,light rain
44,44,Georgetown,MY,5.41,100.34,78.80,88,20,3.36,few clouds
47,47,San Andres,CO,12.58,-81.70,86.00,70,40,10.29,scattered clouds

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                195
City                   195
Country                195
Lat                    195
Lng                    195
Max Temp               195
Humidity               195
Cloudiness             195
Wind Speed             195
Current Description    195
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Capinopolis,BR,-18.68,-49.57,81.73,59,92,1.81,light rain
15,15,Itarema,BR,-2.92,-39.92,79.97,74,2,16.46,clear sky
23,23,Celestun,MX,20.87,-90.40,78.30,75,11,8.59,few clouds
25,25,Hithadhoo,MV,-0.60,73.08,81.93,73,1,7.96,clear sky
27,27,Arraial Do Cabo,BR,-22.97,-42.03,80.60,83,0,14.99,clear sky
...,...,...,...,...,...,...,...,...,...,...
667,667,Jawhar,SO,2.78,45.50,75.76,87,12,12.28,few clouds
670,670,Cordoba,AR,-31.41,-64.18,80.01,41,0,6.93,clear sky
678,678,Bintulu,MY,3.17,113.03,75.20,100,40,5.55,scattered clouds
681,681,Manacapuru,BR,-3.30,-60.62,80.60,88,75,4.70,shower rain
682,682,Pauini,BR,-7.71,-66.98,83.89,70,100,2.55,overcast clouds

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Capinopolis,BR,81.73,light rain,-18.68,-49.57,
15,Itarema,BR,79.97,clear sky,-2.92,-39.92,
23,Celestun,MX,78.30,few clouds,20.87,-90.40,
25,Hithadhoo,MV,81.93,clear sky,-0.60,73.08,
27,Arraial Do Cabo,BR,80.60,clear sky,-22.97,-42.03,
41,Bambous Virieux,MU,77.00,scattered clouds,-20.34,57.76,
42,Caucaia,BR,82.40,scattered clouds,-3.74,-38.65,
43,Hilo,US,78.80,light rain,19.73,-155.09,
44,Georgetown,MY,78.80,few clouds,5.41,100.34,
47,San Andres,CO,86.00,scattered clouds,12.58,-81.70,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
       
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat= row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
     # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df.head(15)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Capinopolis,BR,81.73,light rain,-18.68,-49.57,casa do leo
15,Itarema,BR,79.97,clear sky,-2.92,-39.92,Windvillage
23,Celestun,MX,78.30,few clouds,20.87,-90.40,Posada Lilia
25,Hithadhoo,MV,81.93,clear sky,-0.60,73.08,Scoop Guest House
27,Arraial Do Cabo,BR,80.60,clear sky,-22.97,-42.03,Pousada Porto Praia
41,Bambous Virieux,MU,77.00,scattered clouds,-20.34,57.76,Casa Tia Villa
42,Caucaia,BR,82.40,scattered clouds,-3.74,-38.65,M.O.S. Logística - Filial Fortaleza
43,Hilo,US,78.80,light rain,19.73,-155.09,Hilo Hawaiian Hotel
44,Georgetown,MY,78.80,few clouds,5.41,100.34,Cititel Penang
47,San Andres,CO,86.00,scattered clouds,12.58,-81.70,Hotel Arena Blanca
48,Rikitea,PF,76.87,few clouds,-23.12,-134.97,Pension Maro'i
50,Butaritari,KI,81.16,scattered clouds,3.07,172.79,Isles Sunset Lodge
60,Karratha,AU,85.73,scattered clouds,-20.74,116.85,ibis Styles Karratha
62,Padang,ID,77.61,overcast clouds,-0.95,100.35,Mercure Padang
64,Brokopondo,SR,78.51,broken clouds,4.75,-55.17,Matu Island

In [23]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))